@font-face {
  font-family: "integralcf";
  src: url("../assets/fonts/integralcf-extrabold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
